type adbroot_service,                   service_manager_type;
type portalrom_hardware_service, system_api_service, system_server_service, service_manager_type;
type portalrom_globalactions_service, system_api_service, system_server_service, service_manager_type;
type portalrom_livedisplay_service, system_api_service, system_server_service, service_manager_type;
type portalrom_profile_service, system_api_service, system_server_service, service_manager_type;
type portalrom_trust_service, system_api_service, system_server_service, service_manager_type;
