# HwBinder IPC from client to server
binder_call(hal_portalrom_touch_client, hal_portalrom_touch_server)

add_hwservice(hal_portalrom_touch_server, hal_portalrom_touch_hwservice)
allow hal_portalrom_touch_client hal_portalrom_touch_hwservice:hwservice_manager find;
