type hal_portalrom_camera_motor_hwservice, hwservice_manager_type;
type hal_portalrom_fastcharge_hwservice, hwservice_manager_type;
type hal_portalrom_livedisplay_hwservice, hwservice_manager_type;
type hal_portalrom_powershare_hwservice, hwservice_manager_type;
type hal_portalrom_touch_hwservice, hwservice_manager_type;
type hal_portalrom_trust_hwservice, hwservice_manager_type;
